@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));




body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  text-align: center;

}

/* Dark mode styles */
/* .dark body {
  @apply bg-gray-900 text-gray-100;
} */
