.main-div {
  border: 2px solid rgb(243, 172, 222);
  border-radius: 20px;
  text-align: center;
  background-color: rgb(249, 224, 244);
}

.main-heading {
  font-weight: bold;
  font-style: italic;
}
